<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="plantilla/template :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Id Articulo</th>
					<th scope="col">Tipo</th>
					<th scope="col">Color</th>
				</tr>				
			</thead>
			<tbody>
				<tr th:each=aad:${articulos_accesorios_detalles}>
					<th scope="row" th:text="${aad.id}"></th>
					<td th:text="${aad.id_articulo}"></td>
					<td th:text="${aad.tipo}"></td>
					<td th:text="${aad.color}"></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>